@import "tailwindcss";

@layer utilities {
  /* Ocultar barra de rolagem em WebKit mantendo a funcionalidade de scroll */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}