@import "tailwindcss";

html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

@media (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}